# Ignorar arquivos compilados do Java
*.class
# Ignorar pastas geradas por IDEs (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.metadata/
# Ignorar pastas de build e dependências locais
bin/
target/